/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 4, 2015, 5:02:55 PM
    Author     : Scott
*/
body{
    background-color: white;
}
#caption{
    background-color: orange;
     text-align:center;
    font-family: "Garamond";
    margin: auto;
    font-size: 35px;
}
 #slideTitle{
     background-color: blue;
     color: white;
    font-family: "Garamond";
    margin: auto;
    font-size: 50px;
    font-style: bold;
 }

#image {
    //width: 50%;
    text-align:center;
    margin: auto;
     height: auto; 
   // border: 2px solid black;
}
#slideImage {
  
    margin: auto;
    
   
    height: 500px;
    width: auto; 
   // border: 2px solid black;
}
#playfunctions{
    
     background-color: orange;
     text-align:center;
}
#play {
    
    
   
    height: 30px;
    width: 30px; 
   // border: 2px solid black;
}
#prev {
    
    
   
    height: 30px;
    width: 30px; 
   // border: 2px solid black;
}
#block,#block2 {
    
    
    display:inline-block;
    
    width: 20px; 
   // border: 2px solid black;
}
#next{
    
    
  
    height: 30px;
    width: 30px; 
   // border: 2px solid black;
}
/*#next {
       background:url(./img/next.png);
    //background-repeat: no-repeat;
    width:10px;
    height:10px;
   // border: 2px solid black;
}*/